[build]
  command = "pip install -r requirements.txt"
  functions = "netlify/functions"
  publish = "."

[functions]
  node_bundler = "esbuild"

[context.production.environment]
  PYTHON_VERSION = "3.9"
